{
  "presets": [
    [
      "@babel/preset-env",
      {
        "target": {
          "ie": "11"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
